<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>付款成功页面</title>
<link rel="stylesheet"  type="text/css" href="./Public/OrdersOk/AmazeUI-2.4.2/assets/css/amazeui.css"/>
<link href="./Public/OrdersOk/AmazeUI-2.4.2/assets/css/admin.css" rel="stylesheet" type="text/css">
<link href="./Public/OrdersOk/basic/css/demo.css" rel="stylesheet" type="text/css" />

<link href="./Public/OrdersOk/css/sustyle.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="./Public/OrdersOk/basic/js/jquery-1.7.min.js"></script>

</head>

<body>


<!--顶部导航条 -->
<div class="am-container header" style="background:#a10000;">
  <ul class="message-l">
    <div class="topMessage">
     <div class="menu-hd">
      
     </div></div>
  </ul>
  <ul class="message-r">
    <div class="topMessage home"><div class="menu-hd"><a style="color:white" href="index.php?c=Home&a=index" target="_top" class="h">商城首页</a></div></div>
    <div class="topMessage my-shangcheng"><div class="menu-hd MyShangcheng"><a href="index.php?c=User&a=person" target="_top" style="color:white"><i class="am-icon-user am-icon-fw"></i>个人中心</a></div></div>
    
    <div class="topMessage favorite"><div class="menu-hd"><a href="#" target="_top" style="color:white"><i class="am-icon-heart am-icon-fw"></i><span>收藏夹</span></a></div>
  </ul>
</div>

<!--悬浮搜索框-->
<?php //var_dump($_GET);?>
<div class="nav white">
	
    <div class="logoBig">
      <li></li>
    </div>
    
    <div class="search-bar pr">
        <a name="index_none_header_sysc" href="#"></a>       
        
    </div>     
</div>

<div class="clear"></div>



<div class="take-delivery">
 <div class="status">
   <h2>订单提交成功,请进行付款...</h2>
   <div class="successInfo">
     <ul>
       <li>付款金额<em>￥<?=number_format($_GET['total'],2)?>元</em></li>
       <div class="user-info">
        <p>订单号：<?=$_GET['oid']?></p>
        
         
         <p>支付成功时间：<?=date('Y-m-d H:i:s',time())?></p>
       </div>
             请认真核对您的收货信息，如有错误请联系客服
                               
     </ul>
     <div class="option">
       <span class="info">您可以</span>
        <a href="index.php?c=Orders&a=Detail" class="J_MakePoint">查看<span>已买到的宝贝</span></a>
        <a id="ai-topsearch" class="submit" value="付款" index="1" type="submit" style="background:#a10000;border:#a10000;width:40px;height:30px" href="index.php?c=Orders&a=status&id=<?=$_GET['oid']?>">付款</a>
        
     </div>
    </div>
  </div>
</div>


<div class="footer" >
 <div class="footer-hd">
 <p>
 <a href="#">恒望科技</a>
 <b>|</b>
 <a href="#">商城首页</a>
 <b>|</b>
 <a href="#">支付宝</a>
 <b>|</b>
 <a href="#">物流</a>
 </p>
 </div>
 <div class="footer-bd">
 <p>
 <a href="#">关于凡客</a>
 <a href="#">合作伙伴</a>
 <a href="#">联系我们</a>
 <a href="#">网站地图</a>
 <em>© 2015-2025 凡客 版权所有. 更多模板 <a href="http://www.cssmoban.com/" target="_blank" title="模板之家"></a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank"></a></em>
 </p>
 </div>
</div>


</body>
</html>
<SCRIPT Language=VBScript><!--

//--></SCRIPT>