<?php include './Public/header.html';?>
    
    <div class="row-fluid" id="login">
        <div class="span8 offset2">     
            <form class="form-horizontal" action="index.php?c=Login&a=doLogin" method="post">
            
                <!-- 显示错误信息 -->
                <div class="alert alert-error" style="display:none">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <h4></h4>
                </div>

                <h3>登陆</h3>
                <div class="control-group">
                    <label class="control-label" for="inputName">用户名</label>
                    <div class="controls">
                        <input type="text" name="username" id="inputName" placeholder="用户名" required>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputPassword">密码</label>
                    <div class="controls">
                        <input type="password" name="pwd" id="inputPassword" placeholder="密码" required>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <label class="checkbox">
                            &nbsp;
                        </label>
                        <button type="submit" class="btn btn-large btn-primary form-submit">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;登陆&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
    
    <div class="row-fluid" id="footer"> 
        <div class="span8 offset2">             
            <p>©2006 - 2013</p>             
        </div>          
    </div>
    
</body>
</html>